<%- include('./partials/head.ejs') %>
<body>
    <header>    
        <h1>Search. Our. Collection.</h1>
        
    </header>
    <main>
        <form method="get" action="/search" data-search-form id="form" >
            <input type="text" name="q" placeholder="bijv. Rembrandt" data-search-input />
            <button type="button">Annuleren</button>
        </form>
    </main>
</body>
<%- include('./partials/footer.ejs') %>