<%- include('./partials/head.ejs') %>
<body>
    <header>    
        <h1>Search. Our. Collection.</h1>
    </header>
    <main>
        <strong>Je bent offline.</strong>
        <section class="search-section" data-route="normal"></section>
    </main>
</body>
<%- include('./partials/footer.ejs') %>